CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_ZIXLINK_SHIELD2=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/zixlink/shield2/imximage.cfg"
CONFIG_SYS_TEXT_BASE=0x87800000
CONFIG_BOOTDELAY=0
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_OF_LIBFDT=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_NR_DRAM_BANKS=1

CONFIG_SECURE_BOOT=y

#CONFIG_SPI_FLASH=y
#CONFIG_SPI_FLASH_MACRONIX=y

CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FSL_CAAM=y

CONFIG_DM=y
CONFIG_RSA=y
CONFIG_OF_CONTROL=y
CONFIG_OF_SEPARATE=y

CONFIG_FSL_USDHC=y
CONFIG_CMD_MMC=y

CONFIG_PARTITIONS=y
CONFIG_MAC_PARTITION=y
CONFIG_DOS_PARTITION=y
CONFIG_ISO_PARTITION=y
CONFIG_EFI_PARTITION=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
