CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_ZIXLINK_COFFEE=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/zixlink/coffee/imximage.cfg"
CONFIG_SYS_TEXT_BASE=0x87800000
CONFIG_BOOTDELAY=3
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_OF_LIBFDT=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_BMP=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_FS_GENERIC=y
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_EFI_LOADER is not set
CONFIG_NR_DRAM_BANKS=1

CONFIG_PHYLIB=y
CONFIG_PHY_MICREL=y
CONFIG_SECURE_BOOT=y

CONFIG_CMD_MTDPARTS=y

#CONFIG_SPI_FLASH=y
#CONFIG_SPI_FLASH_MACRONIX=y

CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FSL_CAAM=y

CONFIG_DM=y
CONFIG_RSA=y
CONFIG_OF_CONTROL=y
CONFIG_OF_SEPARATE=y

CONFIG_MTD=y
CONFIG_MTDIDS_DEFAULT="nand0=gpmi-nand,nor1=nor1"
CONFIG_MTD_UBI=y
CONFIG_CMD_UBI=y
CONFIG_NAND=y
CONFIG_NAND_MXS=y
CONFIG_FSL_USDHC=y
